<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Twitter!</h1> 
            <hr class="my-4">
        </div>
    </div>
</div>

<%= render 'tweets/form', tweet: @tweet %>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <% @tweets.each do |tweet| %> 
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td> <%= image_tag tweet.user.profile_picture %> </td>
                                <td><span><strong><%= tweet.user.name %></strong> <span class="font-weight-light"> </span></span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><span><%= tweet.contents%></span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Boton Like</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><p><%= tweet.likes.count %> <%= (tweet.likes.count) == 1 ? 'Like' : 'Likes'%></p></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>retweets</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><span><strong>on </strong> <span class="font-weight-light"><%= tweet.created_at %></span></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>  
                <!--
                <div class="col-md-12 small">
                    
                    
                </div>
                -->
            </div>
        <% end %>
        <%= paginate @tweets %>
    </div>
</div>




